<!-- INDEX/HOME PAGE

This page is the home screen of PMBook. It links to reports, the MPL, the 
Intake Form, and a search bar to get to a specific project. The search bar uses
the project ID in order to take you to your project.

-->
{% load staticfiles %}
<!DOCTYPE html>

<html lang="eng" class="message-page">

<head>
    <title>PMbook</title>

<!-- Minified CSS from Bootstrap CDN
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap.css' %}"  />


<!-- Optional theme from Bootstrap CDN
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">  -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap-theme.css' %}" />

<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/style.css' %}" />

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
</head> 


    <body>

        <div class="container-fluid">
            <div class="jumbotron">
                <h1>PMbook<h1>
            </div>

            <div class="row">

                <div class="col-md-4 cols-sm-4" style="overflow:hidden;">
                    <h1> Getting Started</h1>
                    <p> Requestors may view information about beginning a new project here.</p>
                       <a href="http://team-test.cfpb.local/wiki/index.php/Project_Gates_%26_Governance" class="btn btn-default">View the Project Governance Process</a>
                        <hr>
                    <p> Project managers and product owners can submit a project request form from here.</p>

                        <a class="btn btn-default" type="button" href="intake/1">New Project &#187;</a>
		            <hr>
            		    <p> Requestors may review and edit pending projects here.</p>
            		    <a class="btn btn-default" type="button" href="/pending">View Pending &#187;</a>                   
                </div>


                <div class="col-md-4 col-sm-4" style="overflow: hidden;">
                    <h1> View Project </h1>
                    <p>Project managers, project team members, stakeholders, and PMO can view and edit specific projects from here by entering the Project ID number.</p>
                    <div class="input-group">
		              <form action="project/search/" method="post">
			             {% csrf_token %}
                        <input type="text" name="project_id"  placeholder="Enter Project ID">
                        <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Submit"/>Go &#187;  
                        </span>
                      </form>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4" style="overflow: hidden;">
                    <h1> Portfolio </h1>
                    <p> PMO, PMO Support, and interested parties may view the Master Project List, search for projects here.</p>
                    <a class="btn btn-default" type="button" href="{% url 'MPL' %}">Master Project List &#187;</a>
                    <hr>
                    <p> PMO may review and update the status of pending projects here.</p>
                    <a class="btn btn-default" type="button" href="pending">View Pending &#187;</a>
                    <hr>
                    <p> PMO may view reports and dashboards from aggregated project data here.</p>
                    <a class="btn btn-default" type="button" href="reports">Reports &#187;</a>
                </div>
            </div>
            <footer class="row">
                <p>Brought to you by Briana Slater and Christopher Baccus, mostly. 
                    <br>The orginial prject management tool; the unadulterated fruit of three weeks of research and three and a half weeks of intern labor.
                </p>
            </footer>
        </div>    


<!-- jquery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom script -->
<script src="{% static 'Models/js/script.js' %}"></script>
<!-- Bootstrap minified JavaScript from CDN
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
-->
<!-- Bootstrap minified javascript (local) -->
<script src="{% static 'Models/js/bootstrap.min.js' %}"></script>
</body>
</html>
