<!-- PENDING PAGE

	Shows a list of pending projects. You can also edit the intake/request form
	form here. Although it does have a drop down for changing capbility and 
	status, those changes will not actually be reflected in the database.
	
-->
{% load staticfiles %}
<html lang="eng">

<head>
	<title>Pending Projects</title>

<!-- Minified CSS from Bootstrap CDN                                                                                                                
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap.css' %}" />


<!-- Optional theme from Bootstrap CDN                                                                                                              
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">  -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap-theme.css' %}" />

<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/style.css' %}" />

<!-- fonts -->
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" type="{% static 'Models/text/css' %}">
</head>


<body class="projtable">
	<div class="container-fluid">
		<header class="row">
			<nav>
				<ul>
					<li><h3><a href="{% url 'index' %}"> <span> PMbook </span></a></h3></li>
					<li>
						<h3><label for="id-of-input" class="sr-only">Search</label></h3>
                        <form action="{% url 'search' %}" method="post">
                        	{% csrf_token %}
                        	<input type="text" name="project_id" placeholder="SEARCH" id="search">
                        </form>
					</li>
				</ul>
			</nav>
		</header>

		<div class="row">
			<h1>Pending Projects </h1>
		</div>


		<div class="row">
			<table id="pending" class="table table-hover">
				<thead>
				<tr>
				<th>No
				<th>Title
				<th>Date Submitted
				<th>Description
				<th>Status
				<th>Capability
				<th>Last updated
				<th>View Intake
				<tbody>
				{% for p in project %}  
				<tr>
				<td>{{p.project_id}}
				<td>{{p.name}}
				<td>{{p.timestamp}}
				<td>{{p.description}}
				<td>
				<form action="{% url 'pending' %}" method="post">
					{% csrf_token %}
					<select class="input-sm select form-control" id="status" name="status">
						<option value="pending">Pending</option>
						<option value="roadmap">Roadmap review</option>
						<option value="resourcing">Resourcing</option>
						<option value="approved">Approved</option>
						<option value="cancel">Cancel</option>				 
				    </select>
				</form>
				<td>
					<select class="input-sm select form-control" id="capability" name="capability">
						<option value="1.2">1.2 Deliver measurable "high touch" engagements</option>
						<option value="1.3">1.3 Maintain infrastructure for Digital products (i.e. cf.gov platform)</option>
						<option value=".1.4">1.4 Build and measure Digital products</option>
						<option value="2.1">2.1 Answer questions and handle complaints from consumers</option>
						<option value="2.2">2.2 Provide internal support for consumer complaint data analytics, investigation and intelligence</option>
						<option value="2.3">2.3 Share CR data externally and enable platform syndication</option>
						<option value="3.1">3.1 Monitor institutions to assess regulatory compliance risk</option>
						<option value="3.4">3.4 Analyze loan level information to inform supervisory actions</option>
						<option value="3.5">3.5 Track exams and supervisory actions in order to foster compliance</option>
						<option value="3.6">3.6 Bring and track legal and enforcement actions and cases</option>
						<option value="4.1">4.1 Maintain the data environment/ platforms</option>
						<option value="4.2">4.2 Conduct data analysis on consumer finance markets</option>
						<option value="4.3">4.3 Data Ops: Collect market wide data</option>
						<option value="4.4">4.4 Create, facilitate public comments, publish, provide and track regs and guidance</option>
						<option value="5.1">5.1 Provide connectivity</option>
						<option value="5.2">5.2 Provide collaboration tools</option>
						<option value="5.3">5.3 Provide common services (e.g. emails and file shares)</option>
						<option value="5.4">5.4 Provide end user eqipment (e.g. laptops and printers)</option>
						<option value="5.5">5.5 Protect against cyber threats</option>
						<option value="5.6">5.6 Provide Service Desk support</option>
						<option value="6.1">6.1 Manage financial accounting, budgeting, and reporting</option>
						<option value="7.2">7.2 Engage and sustain workforce</option>
						<option value="8.1">8.1 Support miscellaneous operations workflow/tracking</option>
						<option value="8.2">8.2 Support knowledge and records mangagement</option>
						<option value="8.3">8.3 Provide data reporting, visualization and dashboards</option>
						<option value="8.4">8.4 Manage physical security and control</option>
					</select> 
				<td>{{p.timestamp}}
				<form action="{% url 'intake' %}" method="post">
					{% csrf_token %}
					<input name="name" type="hidden" value={{p.name}}>
					<input name="email" type="hidden" value={{p.email}}>
				    <input name="division" type="hidden" value={{p.division}}>
					<input name="office" type="hidden" value={{p.office}}>
					<input name="sponsor" type="hidden" value={{p.sponsor}}>
					<input name="poc" type="hidden" value={{p.poc}}>
					<input name="description" type="hidden" value={{p.description}}>
					<input name="method" type="hidden" value={{p.method}}>
					<input name="date" type="hidden" value={{p.date}}>
					<input name="launchdate" type="hidden" value={{p.launchdate}}>
					<input name="staff" type="hidden" value={{p.staff}}>
					<input name="value1" type="hidden" value={{p.value1}}>
					<input name="value2" type="hidden" value={{p.value2}}>
					<input name="value3" type="hidden" value={{p.value3}}>
					<input name="value4" type="hidden" value={{p.value4}}>
					<input name="value5" type="hidden" value={{p.value5}}>
					<input name="value6" type="hidden" value={{p.value6}}>
					<input name="comment" type="hidden" value={{p.comment}}>
					<input name="needyn1" type="hidden" value={{p.needyn1}}>
					<input name="needyn2" type="hidden" value={{p.needyn2}}>
					<input name="needyn3" type="hidden" value={{p.needyn3}}>
					<input name="needyn4" type="hidden" value={{p.needyn4}}>
					<input name="needyn5" type="hidden" value={{p.needyn5}}>
					<input name="needyn6" type="hidden" value={{p.needyn6}}>
					<input name="valueyn1" type="hidden" value={{p.valueyn1}}>
					<input name="valueyn2" type="hidden" value={{p.valueyn2}}>
					<input name="valueyn3" type="hidden" value={{p.valueyn3}}>
					<input name="valueyn4" type="hidden" value={{p.valueyn4}}>
					<input name="valueyn5" type="hidden" value={{p.valueyn5}}>
					<input name="valueyn6" type="hidden" value={{p.valueyn6}}>
					<input name="techrisk1" type="hidden" value={{p.techrisk1}}>
					<input name="techrisk2" type="hidden" value={{p.techrisk2}}>
					<input name="techrisk3" type="hidden" value={{p.techrisk3}}>
					<input name="techrisk4" type="hidden" value={{p.techrisk4}}>
					<input name="techrisk5" type="hidden" value={{p.techrisk5}}>
					<input name="techrisk6" type="hidden" value={{p.techrisk6}}>
					<input name="techrisk7" type="hidden" value={{p.techrisk7}}>
					<td><input name="back2" type="submit" class="btn btn-primary" value="Go">
				</form>
				{% endfor %}
			</table>

		</div> <!--/row-->	


		<footer class="row">
				

		</footer>	
	</div>




<!-- jquery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom script -->
<script src="{% static 'Models/js/script.js' %}"></script>
<!-- Bootstrap minified JavaScript from CDN                                                                                                         
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>                                                         
-->
<!-- Bootstrap minified javascript (local) -->
<script src="{% static 'Models/js/bootstrap.min.js' %}"></script>

<!-- jQuery Editable -->
<script src="js/mindmup-editabletable.js"></script>
<script>
$('.table').editableTableWidget({editor: $('<textarea>')}).numericInputExample().find('td:first').focus();
</script>

</body>



</html>




