<!-- Risk & Issues Dashboard

  A dashboard view of risk and issues of all projects.

-->
{% load staticfiles %}
<!DOCTYPE html>

<html lang="eng">

<head>
  <title>Project Health Dashboard</title>

<!-- Minified CSS from Bootstrap CDN                                                                                                                
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap.css' %}" />


<!-- Optional theme from Bootstrap CDN                                                                                                              
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">  -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap-theme.css' %}" />

<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/style.css' %}" />

<!-- fonts -->
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" type="{% static 'Models/text/css' %}">
</head>


<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!-- Chart script -->
<script src="js/healthdash.js"></script>


<body class="report">
  <div class="container-fluid">
    

    <header class="row">
      <nav>
        <ul>
          <li><h3><a href="{% url 'index' %}"> <span> PMbook </span></a></h3></li>
          <li>
            <h3><label for="id-of-input" class="sr-only">Search</label></h3>
                <form action="{% url 'search' %}" method="post">
                  {% csrf_token %}
                  <input type="text" name="project_id" placeholder="SEARCH" id="search">
                </form>
          </li>
          
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <h3>Reports</h3> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'deck' %}">R&amp;I Deck </a></li>
              <li><a href="{% url 'reports' %}">Dashboards</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>


    <div class="row">
    	<h1>Status Report Submission Metrics</h1>
    </div>
    

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
	       <div id="piechart" style="display: inline-block;"></div>
      	 <div id="bar_chart" style="display: inline-block;"></div>
         <br>
      	 <div id="linechart_material"></div>
	       <br>
	       <br>
    </div><!-- column -->
  </div> <!--row-->

  <footer class="row">

  </footer>
</div> <!--container-->

<!-- jquery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom script -->
<script src="{% static 'Models/js/script.js' %}"></script>
<!-- Bootstrap minified JavaScript from CDN
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<!-- Bootstrap minified javascript (local) -->
<script src="{% static 'Models/js/bootstrap.min.js' %}"></script>

<!--
  All charts are created using Google Charts https://developers.google.com/chart/?hl=en
  The script is in the html because I was afraid that the tags wouldn't work if they were in a JS file
-->

<script>
google.load("visualization", "1", {packages:["corechart", "line", "bar"]});
google.setOnLoadCallback(drawChart);

function drawChart() {

  var no_response = Number("{{no_response}}");
  var response_issue = Number("{{response_issue}}");
  var response_none = Number("{{response_none}}");
  

  // THE PIE GRAPH
  var data1 = google.visualization.arrayToDataTable([
    ['Status Reports', 'Number Received'],
    ['Reported w/o Issues',  response_none],
    ['Reported w/ Issues',  response_issue],
    ['Not Received', no_response],
  ]);

  var options1 = {
    title: 'Status Report Submission Metrics',
    colors: ['#298A08', '#58FA58', '#A4A4A4'],
    width: 600,
    height: 500,
  };

  //THE LINE GRAPH
  var data2 = google.visualization.arrayToDataTable([
    ['Time', 'Score', 'Number of Active Projects'],
    ['Jul 15, 2015', 0, 0],
    {% for history in history %}
      ['{{history.timestamp|date:"M d, Y"}}',  Number("{{history.score}}"), Number("{{history.active}}")],
    {% endfor %}
  ]);

  var options2 = {
    title: 'Self-Reported Status',
    curveType: 'function',
    legend: { position: 'bottom' },
    width: 1200,
    height: 250,
  };
          
        
  // THE STACKED BAR GRAPH
  var data = google.visualization.arrayToDataTable([
    ['Status', 'Green Status', 'Yellow Status', 'Red Status', 'Completed', { role: 'annotation' } ],
    ['1) Engagement & Education', Number("{{gcap1}}"), Number("{{ycap1}}"), Number("{{rcap1}}"), Number("{{ccap1}}"), ''],
    ['2) Consumer Response', Number("{{gcap2}}"), Number("{{ycap2}}"), Number("{{rcap2}}"), Number("{{ccap2}}"), ''],
    ['3) Oversight & Compliance', Number("{{gcap3}}"), Number("{{ycap3}}"), Number("{{rcap3}}"), Number("{{ccap3}}"), ''],
    ['4) Market Monitoring, Data Analytics & Reg', Number("{{gcap4}}"), Number("{{ycap4}}"), Number("{{rcap4}}"), Number("{{ccap4}}"), ''],
    ['5) Information Technology', Number("{{gcap5}}"), Number("{{ycap5}}"), Number("{{rcap5}}"), Number("{{ccap5}}"), ''],
    ['6) Accounting, Budgeting, and Reporting', Number("{{gcap6}}"), Number("{{ycap6}}"), Number("{{rcap6}}"), Number("{{ccap6}}"), ''],
    ['7) Human Capital', Number("{{gcap7}}"), Number("{{ycap7}}"), Number("{{rcap7}}"), Number("{{ccap7}}"), ''],
    ['8) Other Operations', Number("{{gcap8}}"), Number("{{ycap8}}"), Number("{{rcap8}}"), Number("{{ccap8}}"), ''],
  ]);

  var options = {
    title: 'Project Health (current quarter)',
    width: 600,
    height: 500,
    colors: ['#298A08', '#FACC2E', '#FF0000', '#0431B4'],
    legend: { position: 'top', maxLines: 3 },
    bar: { groupWidth: '75%' },
    isStacked: true
  };

  var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));
      chart1.draw(data1, options1);

  var chart2 = new google.charts.Line(document.getElementById('linechart_material'));
      chart2.draw(data2, options2);
        
  var chart3 = new google.visualization.BarChart(document.getElementById('bar_chart'));
      chart3.draw(data, options);

  }
</script>
</body>




</html>
