<!-- PROFILE PAGE 

	The profile page of a project.
	
-->
{% load staticfiles %}
<!DOCTYPE html>

<html lang="eng">

<head>
	<title>{{ p.name }}</title>

<!-- Minified CSS from Bootstrap CDN
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap.css' %}" />


<!-- Optional theme from Bootstrap CDN
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">  -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap-theme.css' %}" />

<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/style.css' %}" />

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>


<body>
	<div class="container-fluid">
        <header class="row navbar-fixed-top">
            <nav>
                <ul>
                    <li><h3><a href="{% url 'index' %}"> <span> PMbook </span></a></h3></li>
                    <li>
                        <h3><label for="id-of-input" class="sr-only">Search</label></h3>
                        <form action="{% url 'search' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="project_id" placeholder="SEARCH" id="search">
                        </form>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <h3>View Project Details</h3> <span class="caret"></span>
                        </a>
                    	<ul class="dropdown-menu">
                        	<li><a href="/project/{{p.project_id}}/ri">Risks and Issues </a></li>
                        	<li><a href="/project/{{p.project_id}}/milestone">Milestones </a></li>
                        	<li><a href="/project/{{p.project_id}}/note">Notes</a></li>
                        	<!--  <li><a href="/project/{{p.project_id}}/gatedoc">Gate Document</a></li> -->
                    	</ul>
                    </li>
                </ul>
			</nav>
        </header>	


		<div class="row"style="margin-top: 99px;">
			<!-- Left Column -->
			<div id="left" class="col-lg-3 col-md-5 col-sm-5">
				<div id="overview" class="col-xs-12"> 
					<h1>{{p.name}}</h1>
					<p>{{p.description}}</p>
					<h3>Team 
						<!-- Accordion toggle button -->
					 	<span>
					  		<a href="#" id="toggle" data-toggle="collapse" data-target="#team" data-parent="#pm" value="Toggle Button">Collapse</a>
					 	</span>
					</h3>
						<!-- Team accordion -->

			
					
				<div id="team" class="panel-collapse collapse in">
					{% for personnel in personnel %}
                    	<p>{{personnel.role}} - {{personnel.name}}</p>
                    {% endfor%}
				</div>

					<br>
					<h4>Schedule</h4>
					{% for mile_type in mile_type %}
						<br>{{mile_type.mile_type}} - {{mile_type.target_date}}
					{% endfor %}

			</div>
		</div>


			<!-- Center Column -->
			<div id="center" class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
				<h3> Add an item </h3>
				</br>
				<!-- "Add an item" bar -->	
				<div id="statusbar">
					<ul>
					
					<li>
						<figure>
							<a data-toggle="modal" href="#issuemodal"><img src="{% static 'Models/img/issue.png' %}"></a>
							<figcaption> Issues
								</br>
								</br>
								<a href="/project/{{p.project_id}}/ri"> View All</a>
							</figcaption>
						</figure>
					</li>
					
					<li>
						<figure>
							<a data-toggle="modal" href="#riskmodal"><img src="{% static 'Models/img/risk.png' %}"></a>
							<figcaption> Risks
								</br>
								</br>
								<a href="/project/{{p.project_id}}/ri"> View All</a>
							</figcaption>
						</figure>
					</li>

					<li>
						<figure>
							<a data-toggle="modal" href="#milemodal"><img src="{% static 'Models/img/milestone.png' %}"></a>
							<figcaption> Milestones
								</br>
								</br>
								<a href="/project/{{p.project_id}}/milestone"> View All</a>
							</figcaption>
						</figure>
					</li>
					
					<li>
						<figure>
							<a data-toggle="modal" href="#notemodal"><img src="{% static 'Models/img/note.png' %}"></a>
								<figcaption> Notes
									</br>	
									</br>
									<a href="/project/{{p.project_id}}/note"> View All</a>
								</figcaption>
						</figure>
					</li>
				</ul>

			</div>
				<!-- end "Add an item" bar -->

				<!-- Status Update Modals -->

				<!-- Issue Modal -->
				<form action="/project/{{p.project_id}}/" method="post">
					{% csrf_token %}
					<div id="issuemodal" class="modal fade">
				  		<div class="modal-dialog">
				    		<div class="modal-content">
				      			<div class="modal-header">
				        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<input type="text" class="modal-title" name="title" placeholder="(Issue Title)">
				      			</div>

				      			<div class="modal-body">
				       				<h5> OPEN DATE: </h5>
					       			<input class="form-control" type="date" name="opendate" placeholder="YYYY-MM-DD">
					        		
					        		<div class="modaldrop" class="form-group"> 
					        			<label>Severity: </label>
					      		  		<select class="form-control" name="severity">                                           
                                            <option value='GREEN'>Green</option>                                                    
             								<option value='YELLOW'>Yellow</option>                                                         
        									<option value='RED'>Red</option>                                                                                    
                                        </select>
					   		 		</div>
									
									<div class="modaldrop" class="form-group"> 
							  			<label>Category: </label>
							    		<select class="form-control" name="category">
							      			<option>Schedule</option>
							      			<option>Costs</option>
							   	  			<option>Scope</option>
							    	  		<option>Resources</option>
							      			<option>Dependency</option>
							     	 		<option>Technical</option>
							      			<option>Process</option>
							      			<option>Info Assurance</option>
							      			<option>Security</option>
							      			<option>Privacy</option>
							      			<option>Compliance</option>
							      			<option>Organizational</option>
							      			<option>Strategic</option>
							      		</select>
									</div>
				       				<br> Assigned to:
				       				<br><input class="form-control" type="text" name="assignedto">
				       				<br>
				       				<br>
				      				<textarea class="form-control" name="comment" placeholder="(Description)" rows="3"></textarea>
				    				<hr>Mitigation plan:
				       				<textarea class="form-control" name="next_step" rows="3"></textarea>
				     				<br>
									External Dependencies: 
				       				<textarea class="form-control" name="externdepend" rows="3"></textarea>
				      			</div>
								
								<div class="modal-footer">
									<input type="hidden" value="issue" name="type">
									<input type="hidden" value="{{p.project_id}}" name="project_id">
									<input type="hidden" value="{{issue_num}}" name="num">
				        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        			<button type="submit" class="btn btn-primary">Save changes</button>
				      			</div>
				    		</div><!-- /.modal-content -->
				  		</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</form>



				<!-- Risk Modal -->
				<form action="/project/{{p.project_id}}/" method="post">
					{% csrf_token %}
					<div id="riskmodal" class="modal fade">
				  		<div class="modal-dialog">
				    		<div class="modal-content">
				      			<div class="modal-header">
				        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        		<input type="text" class="modal-title" name="title" placeholder="(Risk Title)">
				      		</div>

				      		<div class="modal-body">
				       			<h5> OPEN DATE: </h5>
					       		<input type="date" name="opendate" placeholder="YYYY-MM-DD">
					     		<div class="modaldrop" class="form-group">
                                	<label>Category: </label>
                                    <select class="form-control" name="category">
                                        <option>Schedule</option>
                                        <option>Costs</option>
                                        <option>Scope</option>
                                        <option>Resources</option>
                                        <option>Dependency</option>
                                        <option>Technical</option>
                                        <option>Process</option>
                                        <option>Info Assurance</option>
                                        <option>Security</option>
                                        <option>Privacy</option>
                                        <option>Compliance</option>
                                        <option>Organizational</option>
                                        <option>Strategic</option>
                                    </select>
                                </div>

					     	<div id="modaldrop" class="form-group">
					      		<label>Severity: </label>                                                                  
                                <select class="form-control" name="severity">                                           
                       				<option value='GREEN'>Green</option>                                                    
            						<option value='YELLOW'>Yellow</option>                                                          
         							<option value='RED'>Red</option>                                                        
                                </select>
                            </div>

					   		<div id="modaldrop" class="form-group"> 
					        	<label>Probability: </label>
							    <select class="form-control" name="probability">
					   		    	<option>Low</option>
					   		      	<option>Medium</option>
					   		      	<option>High</option>
					   		    </select>
					   		</div>


				       		<br> Assigned to:
				       		<br><input type="text" name="assignedto">
				      		<br>
						    <br>
				       		<textarea class="form-control" name="comment" placeholder="(Description)" rows="3"></textarea>
				       
				       		<hr>
				       		Mitigation plan:
				       		<textarea class="form-control" name="next_step" rows="3"></textarea>
				       		<br>
				       
				       		External Dependencies: 
				       		<textarea class="form-control" name="externdepend" rows="3"></textarea>
				      	</div>

				      	<div class="modal-footer">
							<input type="hidden" value="risk" name="type">
                            <input type="hidden" value="{{p.project_id}}" name="project_id">
                            <input type="hidden" value="{{risk_num}}" name="num">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        	<button type="submit" class="btn btn-primary">Save changes</button>
				      	</div>
				    </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</form>

				<!-- Milestone Modal -->
		<form action="/project/{{p.project_id}}/" method="post">
            {% csrf_token %}
			<div id="milemodal" class="modal fade">
				<div class="modal-dialog">
				    <div class="modal-content">
				    	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				    	    <input type="text" class="modal-title" name="title" placeholder="(Milestone)">
				      	</div>
				      	
				      	<div class="modal-body">
					 		<div class="modaldrop" class="form-group">
					   			<label>Milestone type: </label>
					   			<select class="form-control" name="miletype">
					     			<option>Other</option>
					     			<option>Gate 0 Review</option>
					     			<option>Gate 1 Review</option>
					     			<option>Gate 2 Review</option>
					  			</select>
							</div>

				       <h5> BASELINE DATE: </h5>
					       <input type="date" name="basedate" placeholder="YYYY-MM-DD">
					       <br>
					   <h5> TARGET DATE: </h5>
						   <input type="date" name="targetdate" placeholder="YYYY-MM-DD">   
					        <div id="modaldrop" class="form-group"> 
					        	<label>Status: </label>
					      			<select class="form-control" name="severity">
					        			<option>On-time</option>
					        			<option>Completed</option>
					        			<option>Delayed</option>
					      		  	</select>
					   		</div>
				       		<textarea class="form-control" name="description" placeholder="(Description)" rows="3"></textarea>
				    	</div>

				    	<div class="modal-footer">
							<input type="hidden" value="milestone" name="type">
                           	<input type="hidden" value="{{p.project_id}}" name="project_id">
                           	<input type="hidden" value="{{milestone_num}}" name="num">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        	<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</form>
				<!-- Note Modal -->
		<form action="/project/{{p.project_id}}/" method="post">
			{% csrf_token %}
			<div id="notemodal" class="modal fade">
				<div class="modal-dialog">
				    <div class="modal-content">
				    	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<input type="text" class="modal-title" name="title" placeholder="(Note Title)">
				      	</div>
				      	<div class="modal-body">
				      		<h5>DATE: </h5>
					       	<input type="date" name="date" placeholder="YYYY-MM-DD">
					       	<br>
					   		<textarea class="form-control" name="text" placeholder="(Text)" rows="3"></textarea>
				      	</div>

				      	<div class="modal-footer">
							<input type="hidden" value="note" name="type">
                            <input type="hidden" value="{{p.project_id}}" name="project_id">
                            <input type="hidden" value="{{note_num}}" name="num">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        	<button type="submit" class="btn btn-primary">Save changes</button>
				      	</div>
				    </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</form>			

				
				<!---Update Feed-->

		<section>
			<h3> Issues </h3>
			{% for issue in issues %}
			<div id="is1" class="well well-sm issue">
				<figure class="statusfigure">
					{% if issue.category == compliance %}                                                                                                             
						<img src="{% static 'Models/img/compliance.png' %}">                                                                                         
					{% elif issue.category == cost %}                                                                                                        
						<img src="{% static 'Models/img/costs.png' %}">                                                                                       
					{% elif issue.category == dependency %}                                                                                                             
						<img src="{% static 'Models/img/dependency.png' %}">                                                                                     
                    {% elif issue.category == info_assurance %}                                                                                                
                        <img src="{% static 'Models/img/info_assurance.png' %}">                                              
                    {% elif issue.category == organizational %}                                                                                          
                        <img src="{% static 'Models/img/organizational.png' %}">                                                                                        
                    {% elif issue.category == security %}                                                                                                      
                     	<img src="{% static 'Models/img/security.png' %}">                                                                                              
                    {% elif issue.category == privacy %}                                                                                                            
                        <img src="{% static 'Models/img/privacy.png' %}">                                                                                          
                    {% elif issue.category == resources %}                                                                                                       
                        <img src="{% static 'Models/img/resources.png' %}">                                                                                   
                    {% elif issue.category == schedule %}                                                                                                       
                        <img src="{% static 'Models/img/schedule.png' %}">                                                                                
                    {% elif issue.category == strategic %}                                                                                                      
                        <img src="{% static 'Models/img/strategic.png' %}">                                                                                             
                    {% elif issue.category == scope %}                                                                                                          
                        <img src="{% static 'Models/img/scope.png' %}">                                                                              
                    {% elif issue.category == technical %}                                                                                                       
                        <img src="{% static 'Models/img/technical.png' %}">                                                                                   
                    {% else %}                                                                                                                                        
                    	<img src="{% static 'Models/img/other.png' %}">                                                                                
                    {% endif %}                                                                                                                   

                    <figcaption>
						</br>
						{{ issue.category }}
					</figcaption>
				</figure>

				<h2> {{ issue.title }} </h2>
				<h5> OPEN DATE: {{ issue.open_date }}</h5>
				Severity: {{ issue.severity }}
				<br> Assigned to: {{ issue.assign_to }}
				<p> {{ issue.comment }}</p>
				<hr>
				<p>Mitigation Plan: {{ issue.next_step }}
					<br>
					External Dependencies: {{ issue.external_dependencies }}
				</p>
				<p id="timestamp"> Last updated: {{ issue.timestamp }}</p>
			</div>
			{% endfor %}

			<section>

				<h3> Risks </h3>
				{% for risk in risk %}
				<div id="rs1" class="well well-sm risk">
					<figure class="statusfigure">
					{% if risk.category == compliance %}                         
						<img src="{% static 'Models/img/compliance.png' %}">                                                                                 
                    {% elif risk.category == cost %}                                                                                                              
                        <img src="{% static 'Models/img/costs.png' %}">                                                                                         
               		{% elif risk.category == dependency %}                                                                                                      
       				    <img src="{% static 'Models/img/dependency.png' %}">                                                                                  
                    {% elif risk.category == info_assurance %}                                                                                                 
                        <img src="{% static 'Models/img/info_assurance.png' %}"> 
	        		{% elif risk.category == organizational %}                                                                                                   
                        <img src="{% static 'Models/img/organizational.png' %}">                                                                           
                    {% elif risk.category == security %}
                        <img src="{% static 'Models/img/security.png' %}">                                                                                   
                    {% elif risk.category == privacy %}                                                                                                   
                        <img src="{% static 'Models/img/privacy.png' %}">
                    {% elif risk.category == resources %}             
                      	<img src="{% static 'Models/img/resources.png' %}">                                                                             
                    {% elif risk.category == schedule %}                                                                                                        
                        <img src="{% static 'Models/img/schedule.png' %}">                                                                                       
                    {% elif risk.category == strategic %}                                                                                                           
                        <img src="{% static 'Models/img/strategic.png' %}">                                                                                         
					{% elif risk.category == scope %}                                                                                                            
						<img src="{% static 'Models/img/scope.png' %}">                                                                                      
					{% elif risk.category == technical %}                                                                                                       
						<img src="{% static 'Models/img/technical.png' %}">                                                                                      
         			{% else %}
         				<img src="{% static 'Models/img/other.png' %}">                                                                                           
                    {% endif %}
					

					<figcaption>
						</br>
						{{ risk.category }}
					</figcaption>
				</figure>

				<h2> {{ risk.title }} </h2>
				<h5> OPEN DATE: {{risk.open_date}}</h5>
				Severity: {{ risk.severity }}
				<br> Probability: {{ risk.probability }}
				<br> Assigned to: {{ risk.assigned_to }}
				<p> {{ risk.comment }}</p>
				<hr>
				<p>Mitigation Plan: {{ risk.next_step }}
					<br>
					External Dependencies: {{ risk.external_dependencies }}
				</p>
				<p id="timestamp"> Last updated: {{ risk.timestamp }}</p>
			</div>
			{% endfor %}

			<section>
				<h3> Milestones</h3>
				{% for milestone in milestone %}
					<div id="mi1" class="well well-sm mile">
						<figure class="statusfigure">
							<img src="{% static 'Models/img/milestone.png' %}">
								<figcaption>
									</br>
									{{milestone.category}}
								</figcaption>
						</figure>

						<h2> {{milestone.title}} </h2>
						<h5> BASELINE DATE: {{milestone.baseline_date}}</h5>
						<h5> TARGET DATE: {{milestone.target_date}}</h5>
						<br>
						<p> {{milestone.comment}}
						</p>
						<p id="timestamp"> Last updated: {{ milestone.timestamp }}
						</p>
					</div>
				{% endfor %}
			
			<section>

				<h3> Notes </h3>
				{% for note in note %}
					<div id="nt1" class="well well-sm note">
						<h2> {{ note.title }} </h2>
						<h5>DATE: {{ note.date }}</h5>
						<p> {{note.comment}} 
						<p id="timestamp"> Last updated: {{note.timestamp}}
						</p>
					</div>
					{% endfor %}
		</div>



			<!-- Right Column -->
			<div id="right" class="col-lg-3 hidden-xs">
				<div class="row">
			    
			    {% if p.status == gstatus %}
			    	<div id="statnumber" class="col-xs-12 stat-green">
                        <h2>No. </h2><h1> {{p.project_id}}</h1>
				
				{% elif p.status == ystatus %}
                    <div id="statnumber" class="col-xs-12 stat-yellow">
                        <h2>No. </h2><h1> {{p.project_id}}</h1>
			     
			     {% elif p.status == rstatus %}
                    <div id="statnumber" class="col-xs-12 stat-red">
                        <h2>No. </h2><h1> {{p.project_id}}</h1>
			     
			     {% else %}
                    <div id="statnumber" class="col-xs-12 stat-blue">
                        <h2>No. </h2><h1> {{p.project_id}}</h1>
			     {% endif %}
			     

			    <h5>Status:
			       <form action="/project/{{p.project_id}}/" method="post">
				 		{% csrf_token %}
			       		<select name="status">
				 			<option value={{p.status}}>{{p.status}}</option>
				 			<option value="Active - Green">Green</option> <!--class="text-success" -->
				 			<option value="Active - Yellow">Yellow</option> <!--class="text-warning" -->
				 			<option value="Active - Red">Red</option> <!--class="text-danger" -->
				 			<option value="Completed">Complete</option> <!--class="text-primary" -->
			       		</select>
			       		<input type="submit" value="submit">
			       </form>
			    </h5>
			</div>
		</div>

		<div class="row">
			<div id="recentwrap" class="col-xs-12">
				<h3>Recent Items</h3>
				<ul id="recent" class="well">
				{% for issue in issues_recent %}
					<li><figure class="issueupdate">
					{% if issue.category == compliance %}                                                                                                    
                    	<img src="{% static 'Models/img/compliance.png' %}">                                                                         
                    {% elif issue.category == cost %}                                                                                                         
                        <img src="{% static 'Models/img/costs.png' %}">                                                                                          
                    {% elif issue.category == dependency %}                                                                                                     
                        <img src="{% static 'Models/img/dependency.png' %}">                                                                                         
                    {% elif issue.category == info_assurance %}                                                                                                        
                     	<img src="{% static 'Models/img/info_assurance.png' %}">                                                                          
                    {% elif issue.category == organizational %}                                                                                                 
						<img src="{% static 'Models/img/organizational.png' %}">                                                             
					{% elif issue.category == security %}                                                                                                             
                        <img src="{% static 'Models/img/security.png' %}">
                    {% elif issue.category == privacy %}                                                                                                    
                        <img src="{% static 'Models/img/privacy.png' %}">                                                                                      
					{% elif issue.category == resources %}                                                                      
						<img src="{% static 'Models/img/resources.png' %}">                                                                                   
					{% elif issue.category == schedule %}                                                                                                   
						<img src="{% static 'Models/img/schedule.png' %}">                                                                                        
                    {% elif issue.category == strategic %}                                                                                      
                    	<img src="{% static 'Models/img/strategic.png' %}">                                                                                          
					{% elif issue.category == scope %}                                                                                                                  
                        <img src="{% static 'Models/img/scope.png' %}">
                    {% elif issue.category == technical %}                                                                                                     
						<img src="{% static 'Models/img/technical.png' %}"> 
					{% else %}
                        <img src="{% static 'Models/img/other.png' %}">
                    {% endif %}

					<figcaption>
						<span>{{issue.title}}</span>
						<p class="timestamp">{{issue.timestamp}}</p>
					</figcaption>
				</figure></li>
				{% endfor %}
					
				{% for risk in risk_recent %}
                    <li><figure class="issueupdate">
                    {% if risk.category == compliance %}                                                                                                         
              			<img src="{% static 'Models/img/compliance.png' %}">                                                                                   
              		{% elif risk.category == cost %}                                                                                                            
						<img src="{% static 'Models/img/costs.png' %}">                                                                                        
					{% elif risk.category == dependency %}                                                                                                        
						<img src="{% static 'Models/img/dependency.png' %}">                                                                                      
					{% elif risk.category == info_assurance %}                                                                                                          
						<img src="{% static 'Models/img/info_assurance.png' %}">                                                                                
                    {% elif risk.category == organizational %}                                                                                                   
						<img src="{% static 'Models/img/organizational.png' %}">
					{% elif risk.category == security %}                                                                                                       
						<img src="{% static 'Models/img/security.png' %}">                                              
					{% elif risk.category == privacy %}                                                             
						<img src="{% static 'Models/img/privacy.png' %}">
					{% elif risk.category == resources %}                                                                                                       
						<img src="{% static 'Models/img/resources.png' %}">          
                    {% elif risk.category == schedule %}                                  
                        <img src="{% static 'Models/img/schedule.png' %}">                                
					{% elif risk.category == strategic %}                                                                                                              
						<img src="{% static 'Models/img/strategic.png' %}">
					{% elif risk.category == scope %}                                                                                                          
						<img src="{% static 'Models/img/scope.png' %}">                                                        
					{% elif risk.category == technical %}                                                      
						<img src="{% static 'Models/img/technical.png' %}"> 
					{% else %}
						<img src="{% static 'Models/img/other.png' %}">
                    {% endif %}
                
                        <figcaption>
                        	<span>{{risk.title}}</span>
                        	<p class="timestamp">{{risk.timestamp}}</p>
                        </figcaption>
                    </figure></li>
				
				{% endfor %}

				{% for milestone in milestone_recent %}
					<li><figure class="mileupdate">
						<img src="{% static 'Models/img/milestone.png' %}">
						<figcaption>
							<span>{{milestone.title}}</span>
							<p class="timestamp">{{milestone.timestamp}}</p>
						</figcaption>
					</figure></li>
				{% endfor %}
					
				{% for note in note_recent %}
					<li><figure class="mileupdate">
						<img src="{% static 'Models/img/note.png' %}">
						<figcaption>
							<span>{{note.title}}</span>
								<p class="timestamp">{{note.timestamp}}</p>
						</figcaption>
					</figure></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>


	</div>

</div>

<!-- jquery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom script -->
<script src="{% static 'Models/js/script.js' %}"></script>
<!-- Bootstrap minified JavaScript from CDN
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
-->
<!-- Bootstrap minified javascript (local) -->
<script src="{% static 'Models/js/bootstrap.min.js' %}"></script>


</body>




</html>
