<!-- THIS PAGE IS NOT FINISHED -->
<!--
	This should be a list all current risk and issues in a table. Look to 
	the R&I deck on the Z Drive for an example.

-->
{% load staticfiles %}
<!DOCTYPE html>

<html lang="eng">

<head>
  <title>Project Health Dashboard</title>

<!-- Minified CSS from Bootstrap CDN                                                                                                                                                                                                
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap.css' %}" />


<!-- Optional theme from Bootstrap CDN                                                                                                                                                                                              
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">  -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/bootstrap-theme.css' %}" />

<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'Models/css/style.css' %}" />

<!-- fonts -->
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" type="{% static 'Models/text/css' %}">
</head>


<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!-- Chart script -->
<script src="js/healthdash.js"></script>


<body class="report">
  <div class="container-fluid">
    <header class="row">
        <nav>
            <ul>
                <li><h3><a href="{% url 'index' %}"> <span> PMbook </span></a></h3></li>
                <li>
                    <h3><label for="id-of-input" class="sr-only">Search</label></h3>
                        <form action="{% url 'search' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="project_id" placeholder="SEARCH" id="search">
                       	</form>
                </li>
                    
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <h3>Reports</h3> 
                        <span class="caret"></span>
                    </a>
                                        
            		<ul class="dropdown-menu">
                        <li><a href="{% url 'deck' %}">R&amp;I Deck </a></li>
                        <li><a href="{% url 'reports' %}">Dashboards</a></li>
					</ul>
               	</li>
			</ul>
		</nav>
    </header>


    <div class="row">
		<h1>T&amp;I Progress Report</h1>
		<p>Displaying risks and issues from all projects reported within the last 7 days.</p>
		<br>
	</div>


    <div class="row">
    	<div class="tablewrap">
    		<table id="progress" class="table table-hover pre-scrollable">

				<thead>
					<tr>
					<th>Capability Area
					<th>ID <!--no edit-->
					<th>Project Name
					<th>Project Manager
					<th>Business Owner
					<th>Target Date
					<th>Status 1
					<th>Status 2
					<th>Status 3
					<th>Target Close Date
					<th>Key Dependencies
					<tbody>
					 	<tr>
					 	<td>001
					 	<td>1000
					 	<td class="edit">Project Hydra
					 	<td class="edit">Joanna Philip
					 	<td class="edit">Julia Begley
					 	<td class="edit">08/12/2015
					 	<td class="edit"> None
					 	<td>Yellow
					 	<td class="edit">Yellow
					 	<td class="edit">08/31/2015
					 	<td class="edit">
			</table>
		</div>
    </div> <!--row-->
</div> <!--container-->

<!-- jquery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom script -->
<script src="{% static 'Models/js/script.js' %}"></script>
<!-- Bootstrap minified JavaScript from CDN                                                                                                                                                                                         
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<!-- Bootstrap minified javascript (local) -->
<script src="{% static 'Models/js/bootstrap.min.js' %}"></script>    

</body>




</html>
